.apropos {
    width: 1240px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.banner1 {
    position: relative;
    display: flex;
    height: 223px;
    margin: 50px 0px 43px 0px;
    left: 100px;
    right: 0px;
    opacity: 60%;
}

.banner1_text {
    position: absolute;
    margin-top: 78px;
    margin-left: 273px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 48px;
    text-align: center;
}