.error_all {
    width: 100%;
    text-align: center;
    margin-bottom: 119px;
}

.code404 {
    font-size: 288px;
    color: #FF6060;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 140px;
}

.error_text_1 {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
    margin-bottom: 140px;
}

.error_text_2 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 140px;
}