.carrousel {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carrousel_img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    height: 415px;
}

.carrousel_arrow_left,
.carrousel_arrow_right {
    position: absolute;
    cursor: pointer; 
}

.carrousel_arrow_left {
    left: 20px;
}

.carrousel_arrow_right {
    right: 20px;
}

.carrousel_pagination {
    position: absolute;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    bottom: 25px;
}

@media (max-width: 1024px) {
    .carrousel_img {
        border-radius: 15px;
        height: 325px;
    }

    .carrousel_arrow_left,
    .carrousel_arrow_right {
        height: 70px;
    }

    .carrousel_arrow_left {
        left: 0px;
    }

    .carrousel_arrow_right {
        right: 0px;
    }
}

@media (max-width: 768px) {
    .carrousel_img {
        border-radius: 10px;
        height: 255px;
    }

    .carrousel_arrow_left,
    .carrousel_arrow_right {
        height: 30px;
    }

    .carrousel_pagination {
        display: none;
    }
}