.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0px 50px 0px;
}

.header_nav {
    gap: 57px;
    display: flex;
}

.header_link {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}