.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header_nav {
    gap: 57px;
    display: flex;
}

.header_link {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 27px;
    }

    .header_nav {
        gap: 26px;
        margin-left: 3px;
    }

    .header_link {
        font-size: 12px;
        text-transform: uppercase;
    }

    .header img {
        width: 145px;
        height: 47px;
    }

}