 .logement {
     display: flex;
     flex-direction: column;
 }

 .logement_title {
     color: #FF6060;
     font-size: 36px;
     font-weight: 500;
     margin-bottom: 0px;
 }

 .logement_location {
     font-size: 18px;
     font-weight: 500;
 }

 .logement_title_host {
     display: flex;
     justify-content: space-between;
 }

 .logement_host_rate {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-top: 24px;
 }

 .logement_collapse {
     display: flex;
     gap: 80px;
 }

 .logement_collapse h3 {
     font-size: 18px;
     margin: auto 10px;
 }

 .logement_collapse p {
     margin-top: 28px;
     margin-bottom: 30px;
 }

 @media (max-width: 1024px) {
     .logement_collapse h3 {
         margin: 12px 10px;
     }

     .logement_title {
         font-size: 28px;
         margin-right: 15px;
     }
 }

 @media (max-width: 768px) {
     .logement_title {
         font-size: 18px;
     }

     .logement_location {
         font-size: 14px;
     }

     .logement_title_host {
         flex-direction: column;
     }

     .logement_host_rate {
         flex-direction: row-reverse;
         margin-top: 0px;
     }

     .logement_collapse {
         display: flex;
         flex-direction: column;
         gap: 0px;
     }

     .logement_collapse h3 {
         font-size: 13px;
         margin: 7px 10px 10px;
     }

     .logement_collapse p {
         margin-top: 15px;
         margin-bottom: 18px;
     }
 }